/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}


/******************************************
/* LAYOUT
/*******************************************/

main {
  padding: 2%;
  width: 70vw;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #567189;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fdf6fd;
  height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #7B8FA1;
}

img{
  /* height: 300px;
  width: 300px; */
  display: block;
  margin: 45% auto 0 auto; 
    transform: scale(3.5);
    filter: brightness(0);
    transition: filter .5s ease-out;
}

.show {
  filter: none;
  transition: none;
}

.pokemonImage {

  display: block;
  margin: 0 auto;
  height: 30%;
  width: 60%;
  background-color: #7B8FA1;
}

.imageSection {
  height: 100%;
  width: 50%;
  background-color: #7B8FA1;
  border-radius: 25px;
}
.gameSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  width: 100%;
  height: 80%;
}

input,
#check,
button {
  display: block;
  font-size: 2rem;
  border: none;
  padding: 1rem;
  border-radius: 10px;
}
h1{
  font-size: 3rem;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.subtext {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

h2 {
  padding: 1rem;
  font-size: 2rem;
  height: 30px;
 
}

.time {
  background-color: #7B8FA1;
  height: 40%;
  width: 40%;
  border-radius: 25px;
  font-size: 2rem;
  padding: 0 0 0 2rem;
}

.score {
  background-color: #7B8FA1;
  height: 40%;
  width: 40%;
  padding: 2rem;
  border-radius: 25px;
}

input {
  border: none;
  padding: 1rem;
  font-size: 2rem;
  margin: 0 auto;
  background-color: #EEEEEE;
}

input:focus {
  outline: none;
}

#start {
  background-color: #f7bf7a;
  margin: 0 auto;
  margin-top: 2rem;
}
#start:hover{
  background-color: #f5ae57;
}

.gameOver {
  margin: 1rem, 0, 1rem, 0;
}
 #playAgain {
  float: right;
  background-color: #3E5975;
  color: #DCDCDC;
 }

 #playAgain:hover {
  background-color: #32475e;
 }
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media only screen and (min-width: 300px) and (max-width: 500px){

  .gameSection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    width: 100%;
    height: 100%;
  }

  main {
    height: 100%;
    width: 90vw;
  }

  .imageSection{
    width: 100%;
  }

  .score {
    width: 100%;
  }

  .time {
    width: 100%;
  }

  .imageSection {
    border: 2px solid red;
    height: 800px;
  }

  
  }