/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  
    transform: scale(2.5);
    filter: brightness(0);
    transition: filter .5s ease-out;
  
}

body {
  background-image: url('../img/background-image.webp');
   background-size: cover;
   background-repeat: no-repeat;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
